/* Responsive */

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 96px;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-navbar {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 32px;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 300px;
    height: 300px;
    margin: 0 auto 32px;
    justify-content: center;
  }

  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 16px;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 32px;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 16px;
  }

  .experience-sub-title{
    font-size: 20px;
  }

  .logo{
    font-size: 24px;
  }

  .nav-links {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 50vw;
    justify-content: center;
  }
  .section__text__p2{
    font-size: 24px;
  }
  .title{
    font-size: 32px;
  }
  .text-container {
    text-align: justify;
  }
}